<ng-container>
  <app-page-header [heading]="heading" [subHeading]="subHeading"></app-page-header>
</ng-container>

<section class="medical-store-container contact sections-bg pb-0">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Welcome to {{ mediStoreName }}</h2>
    </div>
  </div>
</section>

<app-portfolio [isPortfolio]="false"></app-portfolio>

<section class="medical-store-container contact sections-bg">
  <div class="container" data-aos="fade-up">
    <div class="row gx-lg-0 gy-4">
      <div class="col-lg-4">

        <div class="info-container d-flex flex-column align-items-center justify-content-center">
          <div class="info-item d-flex">
            <i class="bi bi-geo-alt flex-shrink-0">
              <fa-icon [icon]="locationIcon"></fa-icon>
            </i>
            <div>
              <h4>Location:</h4>
              <p>Opposite to Bank of Baroda,
                Ramnagar, Addanki.</p>
            </div>
          </div>

          <div class="info-item d-flex">
            <i class="bi bi-envelope flex-shrink-0">
              <fa-icon [icon]="mailIcon"></fa-icon>
            </i>
            <div>
              <h4>Email:</h4>
              <a href="mailto:{{supportEmail}}" class="social-contact">{{ supportEmail }}</a>
            </div>
          </div>

          <div class="info-item d-flex">
            <i class="bi bi-phone flex-shrink-0">
              <fa-icon [icon]="mobileIcon"></fa-icon>
            </i>
            <div>
              <h4>Call:</h4>
              <a href="tel:{{mediStoreContact}}" class="social-contact">{{ mediStoreContact }}</a>
            </div>
          </div>

          <div class="info-item d-flex">
            <i class="bi bi-clock flex-shrink-0">
              <fa-icon [icon]="hoursIcon"></fa-icon>
            </i>
            <div>
              <h4>Open Hours:</h4>
              <p>Mon-Sun: <strong>9AM - 9PM</strong></p>
              <p></p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.0255631905366!2d79.97550667483893!3d15.802606046521088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4af12d8569d82d%3A0xc568da59c1ca79e2!2sSri%20Vinayaka%20Vet%20%26%20Pet%20Pharma!5e0!3m2!1sen!2sus!4v1687146842185!5m2!1sen!2sus"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </div>
</section>