// Theme Variables

// Color Variables
$colorPrimary: #008374;
$colorOnPrimary: #ffffff;
$colorSecondary: #f96f59;

$colorBackground: #ffffff;
$colorOnBackground: #222222;

$colorDanger: #dc3545;
$colorWarning: #ffc107;

$colorTwitter: #1DA1F2;
$colorFacebook: #1877f2;
$colorInstagram: #C13584;
$colorWhatsapp: #25D366;


// Font Variables
$fontDefault: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
$fontPrimary: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
$fontSecondary: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;